[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
"aliyun-python-sdk-core-v3" = "*"
aliyun-python-sdk-ecs = "*"
aliyun-python-sdk-rds = "*"
aliyun-python-sdk-slb = "*"
maya = "*"
tqdm = "*"
requests = "*"
"oss2" = "*"

[dev-packages]

[requires]
python_version = "3.6"
